*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', 'sans-serif';
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url('./nature.jpg');
}

ul{
  margin: 0;
  padding: 0;
}
ul li {
  list-style: none;
}

a{
  text-decoration: none;
}